<div class="dropdown px-3" style="cursor: pointer">
    <a  class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle"
        data-bs-toggle="dropdown" aria-expanded="false">

        <span class="me-1 fs-6 fw-normal user-name">{{loggedUser.firstName}} {{loggedUser.lastName}}</span>
        <img ngSrc="{{loggedUser.image ? loggedUser.image : './assets/images/default.png' }}"
             alt="image profile" width="32" height="32" class="rounded-circle" priority
             style="object-fit: cover"
        >
    </a>
    <ul class="dropdown-menu text-small shadow dropdown-menu-end p-3" style="width: 220px">
        <li>
            <a  [routerLink]="['/profile',loggedUser.id]"  class="dropdown-item d-flex gap-2 align-items-center">
                <i class="bi bi-person-bounding-box  me-2"></i>
                <span>Profile</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['/user/messages']" class="dropdown-item d-flex gap-2 align-items-center">
                <i class="bi bi-chat-left-dots  me-2"></i>
                <span>Messages</span>
            </a>
        </li>
        <li *ngIf="loggedUser.role == 'ADMIN'">
            <a  [routerLink]="['/']"  class="dropdown-item d-flex gap-2 align-items-center">
                <i class="bi bi-house-fill  me-2"></i>
                <span>Home</span>
            </a>
        </li>
        <li *ngIf="loggedUser.role == 'ADMIN'">
            <a  [routerLink]="['/admin']"  class="dropdown-item d-flex gap-2 align-items-center">
                <i class="bi bi-speedometer  me-2"></i>
                <span>Admin Panel</span>
            </a>
        </li>
        <li><hr class="dropdown-divider"></li>
        <li>
            <a  (click)="logout()" class="dropdown-item text-danger d-flex gap-2 align-items-center">
                <i class="bi bi-box-arrow-right  me-2"></i>
                <span>Sign out</span>
            </a>
        </li>
    </ul>
</div>
