<section class="my-3 overflow-hidden justify-content-center">
    <div class="mb-2 d-flex  gap-2">
        <div class="fw-medium fs-4">Announcements</div>
        <div class="d-flex ms-auto">
            <button [routerLink]="['/admin/announcement']" class="btn btn-sm btn-outline-secondary">
                Make a announcement
            </button>
        </div>
    </div>
    <div *ngIf="announcementsPage" class="mt-4 d-flex flex-column">
        <div class="p-2"  *ngFor="let announcement of announcementsPage.content">
            <div  class="p-3 bg-body rounded shadow-sm bg-body-tertiary">
                <div class="d-flex gap-2 align-items-center border-bottom pb-2 mb-3">
                    <span class="fst-italic" style="font-size: 12px">{{announcement.createdAt | date}}</span>
                    <button (click)="deleteAnnouncement(announcement.id)"
                            class="ms-auto btn btn-sm btn-outline-danger"
                            style="aspect-ratio: 1/1"
                    >
                        <i class="bi bi-trash"></i>
                    </button>
                </div>
                <div>{{announcement.content}}</div>
            </div>

        </div>
    </div>
</section>

<ng-template #ToastTpl> {{toastMessage}} </ng-template>
<app-toast aria-live="polite" aria-atomic="true"></app-toast>
