<div class="container-fluid bg-secondary-subtle">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center align-items-center" style="height: 100vh">
            <div class="error-template text-center">
                <h1>Oops!</h1>
                <h2>404 Not Found</h2>
                <div class="error-details">
                    Sorry, an error has occurred, Requested page not found!
                </div>
                <div class="error-actions mt-3">
                    <a [routerLink]="['/login']" class="btn btn-primary btn-sm">
                        Return to login page ?
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
