<div class="px-3 position-relative" style="width: 100%; height: 100vh">
    <div class="d-flex flex-column gap-3  position-relative m-auto p-4 alert alert-secondary"  style="max-width: 500px; top: 20vh">
        <div class="d-flex justify-content-center fs-3">Welcome to {{ AppConfig.appName }}</div>
        <div class="alert alert-danger my-2" *ngIf="errorMsg.length">
            <p *ngFor="let msg of errorMsg">{{ msg }}</p>
        </div>
        <div class="d-flex flex-column gap-3 mb-3">
            <div class="form-floating">
                <input [(ngModel)]="authRequest.username" type="email" class="form-control" id="email" placeholder="name@example.com">
                <label for="email">Email address</label>
            </div>
            <div class="form-floating">
                <input [(ngModel)]="authRequest.password" type="password" class="form-control" id="password" placeholder="Password">
                <label for="password">Password</label>
            </div>
            <button (click)="login()" type="submit" class="btn btn-primary btn-lg">Connexion</button>
        </div>
    </div>
</div>
