<section class="my-5 overflow-hidden">
    <div class="mb-2 d-flex justify-content-between align-items-center">
        <div class="fw-medium fs-4">Book list</div>
        <div>
            <input
                class="form-control form-control-sm"
                type="text" placeholder="Search" aria-label="Search"
                style="width: 180px"
            >
        </div>
    </div>
    <div *ngIf="booksPage" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-6 g-3">
        <div *ngFor="let book of booksPage.content"  class="col">
            <app-book-card  [book]="book" ></app-book-card>
        </div>
    </div>

</section>

