<section class="my-3 overflow-hidden">
    <div class="mb-2 d-flex flex-column gap-2">
        <div class="fw-medium fs-4">Manage Announcements</div>
        <div class="d-flex">
            <button [routerLink]="['/admin/announcement']" class="btn btn-sm btn-outline-secondary">
                Make a announcement
            </button>
        </div>
    </div>
    <div class="mt-4 d-flex mx-0 flex-column align-items-center gap-2 container px-0" style="max-height: 680px ; overflow-y: scroll">
        <div class="p-3 bg-body rounded shadow-sm bg-body-tertiary me-2"  *ngFor="let i of [1,2,3,4,5]">

            <div class="d-flex gap-2 border-bottom pb-2 mb-3">
                <div class="d-flex align-items-center gap-2">
                    <img ngSrc="{{'./assets/images/default.png' }}" alt="" width="32" height="32" class="rounded" priority>
                    <span class="text-gray-dark fst-italic d-flex">Writer's name</span>
                </div>
                <div class="ms-auto align-content-center" style="font-size: 12px">03-05-2024 23:13</div>
                <div class="d-flex justify-content-around gap-2">
                    <button  class="btn btn-sm btn-outline-danger">
                        <i class="bi bi-trash"></i>
                    </button>
                </div>
            </div>
            <div>
                Some representative placeholder content, with some information about this user. Imagine this being some sort of status update, perhaps?
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
                since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </div>
        </div>
    </div>
</section>
