<section class=" overflow-hidden">
    <div class="mb-2 d-flex flex-column gap-2">
        <div class="fw-medium fs-4">Manage Users</div>
        <div class="d-flex gap-2 justify-content-between">
            <input class="form-control form-control-sm" type="text" placeholder="Search" aria-label="Search" style="width: 180px">
            <button  [routerLink]="['/admin/user']" class="btn btn-sm btn-outline-secondary">Add user</button>
        </div>
    </div>
    <div class="table-responsive" >
        <table class="table  table-hover table-bordered align-middle">
            <thead>
            <tr>
                <th class="text-center" style="width: 40px" scope="col">Image</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Gender</th>
                <th class="text-center" style="width: 120px">Role</th>
                <th class="text-center"  scope="col"  style="width: 130px">Actions</th>
            </tr>
            </thead>
            <tbody *ngIf="usersPage">
            <tr *ngFor="let user of usersPage.content">
                <td class="text-center">
                    <img ngSrc="{{ user.image ? user.image : './assets/images/default.png' }}"
                         alt="profile image"
                         width="32"
                         height="32"
                         class="rounded"
                         priority
                    >
                </td>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.email}}</td>
                <td>{{user.gender}}</td>
                <td class="d-flex justify-content-center align-items-center"><span [ngClass]="user.role == 'ADMIN' ? 'text-bg-danger' : 'text-bg-secondary' " class="rounded px-2 py-1">{{user.role}}</span></td>
                <td >
                    <div class="d-flex justify-content-around align-items-center"   style="width: 130px">
                        <button [routerLink]="['/admin/message', user.id]" class="btn btn-sm btn-outline-info">
                            <i class="bi bi-chat-left"></i>
                        </button>
                        <button  [routerLink]="['/admin/user', user.id]" class="btn btn-sm btn-outline-success">
                            <i class="bi bi-pen"></i>
                        </button>
                        <button (click)="deleteUser(user.id)"  class="btn btn-sm btn-outline-danger">
                            <i class="bi bi-trash"></i>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
