<div class="book-card text-decoration-none text-black" [routerLink]="['book/view']">
    <div class="book-card-image-container">
        <img class="book-card-image" ngSrc="assets/images/BOCCHI.jpeg" alt="" priority fill>
    </div>
    <div class="book-card-body">
        <div class="book-card-title">Book title</div>
        <div class="book-card-author">J.K. Rowling</div>
    </div>
    <div class="book-card-footer">
        <div>26 <i class="bi bi-chat-left-text"></i></div>
        <div>140 <i class="bi bi-heart"></i></div>
    </div>

</div>
