<section class="my-3 overflow-hidden justify-content-center">
    <div class="mb-2 d-flex align-items-center gap-2 justify-content-between">
        <div class="fw-medium fs-4">Manage Messages</div>
        <div class="d-flex gap-2">
            <select class="form-control form-control-sm" [(ngModel)]="listType"  (ngModelChange)="getMessages()" id="role" name="role" aria-label="Floating label select example">
                <option  ngValue="ALL">All Messages</option>
                <option ngValue="ADMIN">Admin Messages</option>
            </select>
        </div>
    </div>
    <div class="mt-4 d-flex flex-row flex-wrap">
        <div class="p-2 col-12 col-md-6"  *ngFor="let message of messagesPage.content">

            <div [ngClass]="message.receiver ? 'bg-body-secondary' : 'bg-danger-subtle' " class="p-3 rounded shadow-sm  " >
                <div class="d-flex justify-content-between pb-2 border-bottom">
                    <div class="d-flex align-items-center gap-2">
                        <span class="fst-italic" style="font-size: 12px">{{message.createdAt | date:'medium'}}</span>
                    </div>
                    <div class="d-flex gap-2 ms-auto">
                        <button (click)="deleteMessage(message.id)"  class="btn btn-sm btn-outline-danger" style="aspect-ratio: 1/1">
                            <i class="bi bi-trash"></i>
                        </button>
                    </div>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <div *ngIf="message.sender"  [routerLink]="['/admin/message', message.sender.id]" class="d-flex gap-2 align-items-center my-1 py-1 px-2 rounded-1 user">
                        <img ngSrc="{{message.sender.image ? message.sender.image  : './assets/images/default.png' }}" alt="Image" width="37" height="37" class="rounded rounded-circle" priority>
                        <div class="d-flex flex-column">
                            <span class="fst-italic" style="font-size: 12px">Sender</span>
                            <span class="text-gray-dark fst-italic" style="font-size: 14px; line-height: 1rem; padding-bottom: 2px">{{message.sender.firstName}} {{message.sender.lastName}}</span>
                        </div>
                    </div>
                    <div *ngIf="message.receiver" [routerLink]="['/admin/message', message.receiver.id]" class="d-flex gap-2 align-items-center my-1 py-1  px-2 rounded-1 user">
                        <div class="d-flex flex-column text-end">
                            <span class="fst-italic" style="font-size: 12px">Receiver</span>
                            <span class="text-gray-dark fst-italic" style="font-size: 14px; line-height: 1rem; padding-bottom: 2px">{{message.receiver.firstName}} {{message.receiver.lastName}}</span>
                        </div>
                        <img ngSrc="{{message.receiver.image ? message.receiver.image  : './assets/images/default.png' }}" alt="Image" width="37" height="37" class="rounded rounded-circle" priority>
                    </div>
                </div>

                <div class="p-3 bg-body-tertiary rounded">
                    {{message.content}}
                </div>

            </div>

        </div>
    </div>
</section>


<ng-template #ToastTpl> {{toastMessage}} </ng-template>
<app-toast aria-live="polite" aria-atomic="true"></app-toast>
