@media screen and (min-width: 768px){

    .hamburger-button{
        display: none;
    }
}

@media screen and (max-width: 767px){
    .nav-menu{
        display: none;
    }
}

.nav-item-offcanvas{
    border: none;
    border-radius: 5px;
}

.nav-item-offcanvas:hover{
    background-color: #ccc;
    color: white;
}
