<div style="height: 100vh" >
    <nav class="navbar navbar-expand-lg bg-body-tertiary" >
        <div class="container">
            <a [routerLink]="['/']" type="button" class="link-body-emphasis text-decoration-none me-3">
                <span class="nav-link p-0 fw-medium fs-4 link-body-emphasis">{{ AppConfig.appName }}</span>
            </a>
            <app-user-avatar></app-user-avatar>
        </div>
    </nav>
    <div class="container pt-2 mb-auto" style="min-height: calc(100vh - 113px);">
        <router-outlet />
    </div>
    <footer class=" py-3 border-top align-self-start">
        <div class="container">
            <div class="col-12 col-md d-flex gap-5 justify-content-between align-items-center">
                <img ngSrc="favicon.ico" alt="logo" width="24" height="24" priority>
                <div class="row row-cols-sm-1 row-cols-md-2">
                    <small class="col d-block text-body-secondary">Copy right © 2024</small>
                    <small class="col d-block text-body-secondary">joph.e.f.yamba&#64;gmail.com</small>
                </div>
            </div>
        </div>
    </footer>
</div>
