<section class="my-4 text-center book-cover">
    <div class="card text-bg-dark" style="height: 300px">
        <img ngSrc="./assets/images/books-wallpaper.jpg" class="card-img" alt="books wallpaper" fill priority>
        <div class="card-img-overlay align-items-start justify-content-center h-100 d-flex flex-column ">
            <h1 class="w-50 fw-light">Album example</h1>
            <p class="w-50 align-self-start fs-4 text-wrap">
                Something short and leading about the collection below—its contents, the creator, etc.
            </p>
        </div>
    </div>
</section>


<section class="my-5 overflow-hidden">
    <div class="mb-2 d-flex justify-content-between align-items-center">
        <div class="fw-medium fs-4">Latest</div>
        <div>
            <a routerLink="/books" class="btn btn-sm btn-outline-secondary ms-auto mb-3 me-3">
                All Books
            </a>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-6 row-cols-xl-6 g-3">
        <div *ngFor="let i of [1,2,3,4,5,6]" class="col">
            <app-book-card></app-book-card>
        </div>
    </div>
</section>


<section class="my-5 overflow-hidden">
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal text-body-emphasis">Pricing</h1>
        <p class="fs-5 text-body-secondary">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It’s built with default Bootstrap components and utilities with little customization.</p>
    </div>
</section>


<section class="my-5 overflow-hidden">
    <div class="mb-2 d-flex justify-content-between align-items-center">
        <div class="fw-medium fs-4">Announcements</div>
        <div>
            <a routerLink="/announcements" class="btn btn-sm btn-outline-secondary ms-auto mb-3 me-3">
                All Announcements
            </a>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-xl-3 g-3">
        <div *ngFor="let i of [1,2,3]" class="col">
            <app-announcement-card></app-announcement-card>
        </div>
    </div>
</section>
