<div class="p-sm-2 p-md-4">
    <div class="row">
        <div class="card col-12 col-md-4 col-sm-3 p-3">
            <div class="d-flex flex-column justify-content-center align-items-center gap-3">
                <div class="rounded border-1 border-black position-relative overflow-hidden" style="width: 100%; aspect-ratio: 200/300">
                    <img ngSrc="{{imageUrl}}" alt="img" fill style="object-fit: cover; cursor: pointer">
                </div>
            </div>
        </div>
        <div class="card col-12 col-md-8 col-sm-9 p-3">
            <div class="d-flex flex-column gap-2">
                <div class="row row-cols-md-2 row-cols-sm-1">
                    <div class="col-12 col-md-5 col-lg-4 col-xl-3 px-3">Title :</div>
                    <div class="col-12 col-md-7 col-lg-8 col-xl-9 rounded bg-body-tertiary py-2">title</div>
                </div>
                <div class="row row-cols-md-2 row-cols-sm-1">
                    <div class="col-12 col-md-5 col-lg-4 col-xl-3 px-3">Author :</div>
                    <div class="col-12 col-md-7 col-lg-8 col-xl-9 rounded bg-body-tertiary py-2">Author</div>
                </div>
                <div class="row row-cols-md-2 row-cols-sm-1">
                    <div class="col-12 col-md-5 col-lg-4 col-xl-3 px-3">Publisher :</div>
                    <div class="col-12 col-md-7 col-lg-8 col-xl-9 rounded bg-body-tertiary py-2">Publisher</div>
                </div>
                <div class="row row-cols-md-2 row-cols-sm-1">
                    <div class="col-12 col-md-5 col-lg-4 col-xl-3 px-3">Publication Date :</div>
                    <div class="col-12 col-md-7 col-lg-8 col-xl-9 rounded bg-body-tertiary py-2">Publication Date</div>
                </div>
                <div class="row row-cols-md-2 row-cols-sm-1">
                    <div class="col-12 col-md-5 col-lg-4 col-xl-3 px-3">ISBN :</div>
                    <div class="col-12 col-md-7 col-lg-8 col-xl-9 rounded bg-body-tertiary py-2">ISBN</div>
                </div>
                <div class="row row-cols-md-2 row-cols-sm-1">
                    <div class="col-12 col-md-5 col-lg-4 col-xl-3 px-3">Genre :</div>
                    <div class="col-12 col-md-7 col-lg-8 col-xl-9 rounded bg-body-tertiary py-2">Genre</div>
                </div>
            </div>

            <div class="mt-2 px-0 px-xm-0 px-md-0">
                <div>Summary or Synopsys :</div>
            </div>
            <div class="mt-2 rounded bg-body-tertiary px-3 py-2">
                <div>Summary or Synopsys :</div>
            </div>
        </div>
    </div>
</div>

