<div *ngIf="book" class="p-sm-2 p-md-4">
    <div class="row">
        <div class=" col-12 col-md-4 col-sm-3 p-2">
            <div class="card d-flex flex-column justify-content-center align-items-center gap-3">
                <div class="rounded border-1 border-black position-relative overflow-hidden" style="width: 100%; aspect-ratio: 200/300">
                    <img ngSrc="{{book.image ? book.image : 'assets/images/book-default-cover.jpg'}}" alt="img" fill style="object-fit: cover; cursor: pointer">
                </div>
            </div>
        </div>
        <div class="col-12 col-md-8 col-sm-9 p-2">
            <div class="card d-flex flex-column h-100 p-3">
                <div class="d-flex flex-column gap-2">
                    <div class="row row-cols-md-2 row-cols-sm-1 w-100">
                        <div class="col-12 col-md-5 col-lg-4 col-xl-3 align-content-center">Title :</div>
                        <div class="col-12 col-md-7 col-lg-8 col-xl-9  rounded bg-body-tertiary py-2">{{book.title}}</div>
                    </div>
                    <div class="row row-cols-md-2 row-cols-sm-1 w-100">
                        <div class="col-12 col-md-5 col-lg-4 col-xl-3 align-content-center">Author :</div>
                        <div class="col-12 col-md-7 col-lg-8 col-xl-9 rounded bg-body-tertiary py-2">{{book.author}}</div>
                    </div>
                    <div class="row row-cols-md-2 row-cols-sm-1 w-100">
                        <div class="col-12 col-md-5 col-lg-4 col-xl-3 align-content-center">Publisher :</div>
                        <div class="col-12 col-md-7 col-lg-8 col-xl-9 rounded bg-body-tertiary py-2">{{book.publisher}}</div>
                    </div>
                    <div class="row row-cols-md-2 row-cols-sm-1 w-100">
                        <div class="col-12 col-md-5 col-lg-4 col-xl-3 align-content-center">Publication Date :</div>
                        <div class="col-12 col-md-7 col-lg-8 col-xl-9 rounded bg-body-tertiary py-2">{{book.publicationDate | date}}</div>
                    </div>
                    <div class="row row-cols-md-2 row-cols-sm-1 w-100">
                        <div class="col-12 col-md-5 col-lg-4 col-xl-3 align-content-center">ISBN :</div>
                        <div class="col-12 col-md-7 col-lg-8 col-xl-9 rounded bg-body-tertiary py-2">{{book.isbn}}</div>
                    </div>
                    <div class="row row-cols-md-2 row-cols-sm-1 w-100">
                        <div class="col-12 col-md-5 col-lg-4 col-xl-3 align-content-center">Genre :</div>
                        <div class="col-12 col-md-7 col-lg-8 col-xl-9 rounded bg-body-tertiary py-2">{{book.genre}}</div>
                    </div>
                </div>

                <div class="mt-2 px-0 px-xm-0 px-md-0">
                    <div>Summary or Synopsys :</div>
                </div>
                <div class="mt-2 me-3 rounded bg-body-tertiary px-3 py-2" style="min-height: 100px">
                    <div>{{book.summary}}</div>
                </div>
                <div class="mt-auto d-flex justify-content-end">
                    <button [routerLink]="['/home']" class="btn btn-secondary btn-sm">go back</button>
                </div>
            </div>
        </div>
    </div>
</div>

