<div class="d-flex" style="height: 100vh; min-width: max-content">
    <div
        class="bg-body-tertiary sidebar overflow-hidden"
        [ngClass]=" isToggled ? 'sidebar-collapsed': 'sidebar-expanded'"
    >
        <nav  style="height: 56px" class="d-flex ps-3 align-items-center">
            <span class="ps-3 fw-medium fs-4" >{{ AppConfig.appName }}</span>
        </nav>
        <ul class="nav nav-pills flex-column mb-auto p-3 gap-1">
            <li class="nav-item fw-medium">
                <a routerLink="/" class="nav-link link-body-emphasis d-flex flex-nowrap">
                    <i class="bi bi-house me-2"></i>
                    Home
                </a>
            </li>
            <li class="nav-item fw-medium">
                <a routerLink="/admin" class="nav-link link-body-emphasis d-flex flex-nowrap">
                    <i class="bi bi-speedometer2  me-2"></i>
                    Dashboard
                </a>
            </li>
            <li class="nav-item fw-medium">
                <a class="nav-link link-body-emphasis d-flex flex-nowrap">
                    <i class="bi bi-chat-left-dots  me-2"></i>
                    Messages
                </a>
            </li>
            <li class="nav-item fw-medium">
                <a class="nav-link link-body-emphasis d-flex flex-nowrap">
                    <i class="bi bi-book  me-2"></i>
                    Books
                </a>
            </li>
            <li class="nav-item fw-medium">
                <a class="nav-link link-body-emphasis d-flex flex-nowrap">
                    <i class="bi bi-people  me-2"></i>
                    Users
                </a>
            </li>
            <li class="nav-item fw-medium">
                <a class="nav-link link-body-emphasis d-flex flex-nowrap">
                    <i class="bi bi-gear  me-2"></i>
                    Settings
                </a>
            </li>
        </ul>
    </div>
    <div class="flex-fill">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <button (click)="toggleSidebar()" class="hamburger-button me-3">
                    <i class="bi bi-list"></i>
                </button>
                <app-user-avatar></app-user-avatar>
            </div>
        </nav>
        <div class="p-3 overflow-hidden">
            <router-outlet/>
        </div>
    </div>
</div>


